<div class="row" style="padding-bottom: 10px;padding-top: 15px;">
  <div class="col-2">
    <input class="form-control mr-sm-2" [formControl]="searchText" type="text" placeholder="Search users" aria-label="Search">
  </div>
  <div class="text-right col-10">
    <button class="btn btn-success" (click)="createNewUser()">Add new</button>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th width="200px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersStream$ | async">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.city}}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="onUpdateUser(user);userFormModal.show()">Update</button>
        <button class="btn btn-danger btn-sm" (click)="onDeleteUser(user);confirmationModal.show()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" bsModal #userFormModal="bs-modal" [config]="{backdrop: 'static', animated: false}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" autocomplete="off">
        <div class="modal-header">
          <h4 id="dialog-static-name" class="modal-title pull-left">{{operationType}} user</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="userFormModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <p class="text-danger" *ngIf="myForm.get('name').touched && myForm.get('name').hasError('required')">
              Oops, please provide a name!
            </p>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <p class="text-danger" *ngIf="myForm.get('email').touched && myForm.get('email').hasError('required')">
              Please provide email.
            </p>
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>
          <div class="form-group">
            <label for="hobbies">Hobbies:</label>
            <input type="text" class="form-control" id="hobbies" formControlName="hobbies">
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <textarea type="text" class="form-control" id="address" formControlName="address"></textarea>
            <p class="text-danger" *ngIf="myForm.get('address').touched && myForm.get('address').hasError('required')">
              Please provide address.
            </p>
          </div>

        </div>
        <div class="modal-footer">
          <button 
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="myForm.get('name').hasError('required') || myForm.get('email').hasError('required') || myForm.get('address').hasError('required')"
            >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" bsModal #confirmationModal="bs-modal" [config]="{backdrop: 'static', animated: false}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <app-confirmation-component [confirmationMessage]="confirmationMessage" (userChoice)="onConfirmation($event)"></app-confirmation-component>
</div>
